AGRITRADER_DEPLOY_UNSTABLE_STORE_FILE=agritrader-deploy-unstable.keystore
AGRITRADER_DEPLOY_UNSTABLE_KEY_ALIAS=agritrader-deploy-unstable
AGRITRADER_DEPLOY_UNSTABLE_STORE_PASSWORD=
AGRITRADER_DEPLOY_UNSTABLE_KEY_PASSWORD=
